@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-500 dark:bg-slate-900;
}

h1 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
}

span:first-child {
  background-image: linear-gradient(
    #032d50 25%,
    #00a1ef 35%,
    white 50%,
    #20125f 50%,
    #8313e7 55%,
    #ff61af 75%
  );
  -webkit-text-stroke: 0.02em #94a0b9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span:last-child {
  display: block;
  text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.1em black, 0 0 5em #165ff3;
}

h2 {
  font-family: "Mr Dafoe", cursive;
  text-shadow: 0 0 0.1em #ff0084, 0 0 0.2em white, 0 0 5em #ff0084;
}

#lines {
  background-image: linear-gradient(
    #00a1ef 25%,
    #00a1ef 75%
  );
  height: 0.15rem;
  left: 0;
  box-shadow: 0 0 0.1em #00a1ef, 0 0 0.2em white, 0 0 5em #00a1ef;
}

#stroke {
  -webkit-text-stroke: 0.03em #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}